<footer class="foot">
  <div class="foot__row">
    {{companyName}}
    <span class="foot__sep">|</span> CIN {{companyCin}}
    <span class="foot__sep">|</span> {{companyWebsite}}
  </div>
  <div class="foot__confidential">
    This is a confidential document intended solely for the named recipient.
  </div>
</footer>
